{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindcss": true
}
